<!--<div class="clr-row">-->
<!--<div class="clr-col">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Node-->
<!--</div>-->
<!--<div class="card-block">-->
<!--<div class="card-text" style="height: 120px">-->
<!--数量: 10<br/>-->
<!--Ready:5<br/>-->
<!--NotReady:5<br/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="btn btn-sm btn-link">详情</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clr-col">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Project-->
<!--</div>-->
<!--<div class="card-block">-->
<!--<div class="card-text" style="height: 120px">-->
<!--数量: 10<br/>-->
<!--Pod:5<br/>-->
<!--Service:5<br/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="btn btn-sm btn-link">详情</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clr-col">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Service-->
<!--</div>-->
<!--<div class="card-block">-->
<!--<div class="card-text" style="height: 120px">-->
<!--数量: 10<br/>-->
<!--Pod:5<br/>-->
<!--Service:5<br/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="btn btn-sm btn-link">详情</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clr-col">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Pod-->
<!--</div>-->
<!--<div class="card-block">-->
<!--<div class="card-text" style="height: 120px">-->
<!--数量: 10<br/>-->
<!--Pod:5<br/>-->
<!--Service:5<br/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="btn btn-sm btn-link">详情</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="clr-row">
  <table class="table">
    <thead>
    <tr>
      <th>名称</th>
      <th>角色</th>
      <th>状态</th>
      <th>监控</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>masters-1.fit2cloud.com</td>
      <td>masters</td>
      <td>Ready</td>
      <td>
        <div class="progress-block" style="padding-bottom: 5px">
          <label>CPU</label>
          <div class="progress-static">
            <div class="progress-meter" data-value="12"></div>
          </div>
        </div>
        <div class="progress-block" style="padding-bottom: 5px">
          <label>内存</label>
          <div class="progress success">
            <progress value="20" max="100"></progress>
          </div>
        </div>
        <div class="progress-block" style="padding-bottom: 5px">
          <label>磁盘</label>
          <div class="progress-static">
            <div class="progress-meter" data-value="12"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>masters-2.fit2cloud.com</td>
      <td>masters</td>
      <td>Ready</td>
      <td>
        <div class="progress-block" style="padding-bottom: 5px">
          <label>CPU</label>
          <div class="progress-static">
            <div class="progress-meter" data-value="12"></div>
          </div>
        </div>
        <div class="progress-block" style="padding-bottom: 5px">
          <label>内存</label>
          <div class="progress success">
            <progress value="20" max="100"></progress>
          </div>
        </div>
        <div class="progress-block" style="padding-bottom: 5px">
          <label>磁盘</label>
          <div class="progress-static">
            <div class="progress-meter" data-value="12"></div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
